body {
    background-color: lightcyan;

}
h1{
    color: purple;
    text-align: center;
}

h2{
    color:black;
    text-align: center;
}
h3{
    color:black;

}

p{
    color:blue;
    font-family: "Times New Roman", Times, serif; /*w3schools*/
    font-size: 25px;
}

ul{
    list-style:circle;
}

.topnav{
    background-color:#dddddd;
    overflow:hidden;
}

.topnav a{
    color:black;
    font-size: 21px;
    padding: 14px 16px; /*generates space around the topnav...can be used for dividers as well*/
    text-decoration:none;
}

/*Change the color of links on hover*/
.topnav a:hover{
    background-color:#dddddd;
    color: black;

dropdown {
    position: relative;
    display: inline-block;
}


}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
